

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-end">Duoc UC</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-content">
  <div id="container" class="ion-padding">
    <div class="container" id="custom-div" [ngClass]="{'hidden': !showInfo}">
      <div *ngIf="userData">
        <h2 class="pt-2 pb-3 text-center fw-bolder">Bienvenido</h2>
        <p class="">Usuario: {{ userData.nombre }} {{ userData.apellido }}</p>
        <div *ngIf="userData.profilePicture">
          <img [src]="userData.profilePicture" alt="Profile Picture" />
        </div>
        <div *ngIf="userData.region !== undefined && userData.comuna !== undefined">
          <p>Región: {{ userData.region }}</p>
          <p class="pb-3">Comuna: {{ userData.comuna }}</p>
        </div>
      </div>


    </div>
    <div class="container" id="custom-div2" [ngClass]="{'hidden': !showInfo}">
      <div>
        <h2 class="text-center fw-bolder pt-3 mb-3" id="cust">Información de la clase:</h2>
        <ul>
          <li *ngFor="let dato of userData.datosEscaneados">{{ dato }}</li>
        </ul>
        <p *ngIf="coordenadas">
          Latitud: {{ coordenadas.latitude }}<br>
          Longitud: {{ coordenadas.longitude }}
        </p>
        
      </div>
    </div>





    <ion-button expand="full" (click)="openScanner()">Escánear QR</ion-button>

    <div id="videoContainer" [ngClass]="{ 'hide-result': isScanning }">
      <video #videoElement autoplay="true"></video>

    </div>



  </div>
</ion-content>





