<ion-header [translucent]="true">

</ion-header>

<ion-content class="ion-content">
  <ion-card id="cardt">
    <h1 class="text-center mt-5" id="title">DUOC ASISTENCIAS</h1>
  </ion-card>




    <ion-card style="margin-top: 10px;" id="cardt">
      <ion-card-content>
        <form [formGroup]="formularioLogin">
          <ion-card-header  style="display: flex; align-items: center; justify-content: center; top: -10px;">
            <ion-card-title>Inicia Sesión</ion-card-title>
          </ion-card-header>
          <br>
          <ion-label position="floating">Username</ion-label>
          <ion-input formControlName="user" aria-placeholder="Username" type="text" maxlength="8" id="username" name="username"></ion-input>
          <br>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" aria-placeholder="Password" type="Password" maxlength="4" id="password" name="password"></ion-input>
        </form>
        </ion-card-content>
        <div >
          <!-- <ion-button routerLink="/home">Ingresar</ion-button> -->
          <ion-button id="btn" color="warning" class="" expand="full" (click)="entrar()">Ingresar</ion-button>
        </div>
        <p  class="text-center" id="cus">

          <a href="/forgotten-pass">¿Se te olvido la contraseña?</a>
        </p>
      </ion-card>

</ion-content>
<ion-footer >
  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-button routerLink="/register">REGISTRATE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
