<ion-header [translucent]="true">

</ion-header>

<ion-content class="ion-content">
  <ion-card id="cardt">
    <h1 class="text-center mt-5" id="title">REGISTRO</h1>
  </ion-card>
      <ion-card style="margin-top: 10px;" id="cardt">
        <ion-card-content>
          <form [formGroup]="formularioRegistro">

            <br>
            <ion-label>Username</ion-label>
            <ion-input formControlName="user" aria-placeholder="Username" type="text" maxlength="8" id="username" name="username"></ion-input>
            <br>
            <ion-label>Password</ion-label>
            <ion-input formControlName="password" aria-placeholder="Password" type="Password" maxlength="4" id="password" name="password"></ion-input>

             </form>
          <br>
          <ion-label>Region</ion-label> <br>
          <ion-list>
            <ion-item>
              <ion-select (ionChange)="cargarComuna()" placeholder="Seleccione" [(ngModel)]="regionSel">
                <ion-select-option [value]="r.id" *ngFor="let r of regiones">{{r.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <br>
          <ion-label>Comuna</ion-label> <br>

          <ion-list>
            <ion-item>
              <ion-select  placeholder="Seleccione" [(ngModel)]="comunaSel">
                <ion-select-option [value]="r.id" *ngFor="let r of comunas">{{r.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          </ion-card-content>
          <ion-button expand="full" color="warning" (click)="guardar()">REGISTRAR</ion-button>
        </ion-card>
        <div style="display: flex; align-items: center; justify-content: center;">
          <!-- <ion-button routerLink="/home">Ingresar</ion-button> -->

        </div>

</ion-content>
